<div>
    <mat-card class="exercise-card">
        <mat-card-header>
            <mat-card-title [attr.for]="exercise.id">
                {{exercise.name}}
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="exercise.img" alt="Photo of a exercise">
        <mat-card-content class="exercise-content">
            <p>
                {{exercise.content}}
            </p>
        </mat-card-content>
        <mat-card-actions *ngIf="exercise.isAdmin">
            <button mat-flat-button	color="primary">Edit</button>
            <button mat-stroked-button color="warn">Delete</button>
          </mat-card-actions>
    </mat-card>
</div>