<!-- <app-app-header></app-app-header> -->
<div class="container">
    <form class="form-advertise">
        <div class="advertise-element">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Enter Advertisement Name</mat-label>
                <input matInput required #Name="ngModel" ngModel [(ngModel)]="adObj.advertisementName" id="Name"
                    name="Advertisement Name">
                <mat-error *ngIf="Name.touched && !Name.valid">
                    <div *ngIf="Name.errors.required">Advertisement Name is required
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="advertise-element">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Enter Advertisement Type</mat-label>
                <input matInput required #Type="ngModel" ngModel [(ngModel)]="adObj.advertisementType" id="Type"
                    name="Advertisement Type">
                <mat-error *ngIf="Type.touched && !Type.valid">
                    <div *ngIf="Type.errors.required">Advertisement Type is required
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div style="text-align: left; margin-top: 5px;">
            <button type="button" mat-flat-button color="primary" (click)="fileInput.click()">Upload Advertisement Image</button>
            <!-- <label class="label"><b>Upload Image for your blog</b></label><br> -->
            <input #fileInput id="file" type="file" hidden (change)="onImgChange($event)" required>
         </div>
        <div class="form-row justify-content-center p-3">
            <button mat-flat-button color="primary" type="submit" (click)="createAdvertisement()"
                [disabled]="!Name.valid || !Type.valid" style="width: 10em; margin: 5px;">
                Create
            </button>
            <button mat-stroked-button color="primary" type="reset" style="width: 10em; margin: 5px;">Cancel</button>
        </div>
    </form>
</div>