<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/39ac5a0cbe.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
  <header class="mb-5">
    <nav class="navbar-dark navbar-expand-lg navbar bg-dark">
      <div class="navbar-brand">
        <h1 class="display-5 text-white"><a class="text-white" href="/">Welcome</a></h1>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home </a>
          </li>
          <li class="nav-item" *ngIf="!loginService.isLogin">
            <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login </a>
          </li>
          <li *ngIf="!loginService.isLogin" class="nav-item">
            <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">SignUp </a>
          </li>
          <li *ngIf="loginService.isLogin" class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">Dashboard </a>
          </li>
          <li *ngIf="loginService.isAdmin" class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']" [routerLinkActive]="['active']">Admin </a>
          </li>
          <li *ngIf="loginService.isLogin" class="nav-item">
            <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">Logout </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>