<div class="card" style="width: 8rem;">
    <img class="card-img-top" src="assets/images/product.jpeg" height="130" alt="Card image cap">
    <div class="card-body">
        <p class="price">$35.99</p>
        <span class="float-left"><i class="text-warning fa fa-star"></i></span>
        <span class="float-left"><i class="text-warning fa fa-star"></i></span>
        <span class="float-left"><i class="text-warning fa fa-star"></i></span>
        <span class="float-left"><i class="text-warning fa fa-star"></i></span>
      <a href="#" class="btn btn-primary">Buy Today</a>
    </div>
  </div>