<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/39ac5a0cbe.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
<app-app-header></app-app-header>
<div class="content">

    <img src="assets/images/logo.png" width="50" height="50"> 
        
  <div class="container">
    <h2 class="text-center mb-5">Welcome to {{ title }}!</h2>

    <div class="row">
      <div class="col-md-6">
        <img class = "homepageImage" src="assets/images/exer.jpg" fluid>
      </div>
      <div class="col-md-6" >
        <h4>Success starts with a good health. Have a health goal?</h4>
        <p>
          Good health is essential to sustainable development and the 2030 Agenda reflects the complexity and interconnectedness of the two.
          Lack of exercise leads to fatigue, depression, low blood pressure and many other problems which might affect person’s daily routine. 
          Everyone has a different body type and so the effects of the exercises vary. It is important to identify which exercises can be effective in achieving a person’s health goal.
          This web application can recommend exercises to you based on your goal, body type, routine, and preferences.
          It also has an option to filter exercises based on the access to equipment, time, and location.
          Lastly, this is a single source of information for all the exercises and yoga.
          
        </p>
      </div>
    </div>
      <div class="row text-center" *ngIf="!loginService.isLogin">
          <div class="col p-5">
              <h2>You are required to sign in</h2>
              <hr class="mb-4 mt-3">
              <a class="btn btn-lg btn-success mb-3 d-block" href="/login"><i class="fa fa-user"></i> Existing User? Log In</a>
              <a class="btn btn-lg btn-primary mb-3 d-block" href="/register"><i class="fa fa-plus"></i> New User? Sign Up</a>
          </div>
      </div>
  </div>
  
  <div class="card-container">
    <a class="card"   href="/fullgymexercises" target="_blank">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      <span>Gym Exercises</span>
    </a>
    <a class="card"   href="/nogymexercises" target="_blank">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      <span>Yoga</span>
    </a>  
    <a class="card"   href='/aboutus'>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      <span>About Us</span>
    </a>
    
  </div>
  <footer>
    Made with&nbsp;<i style="color:red; font-size:20px" class="fa">&#xf004;</i>&nbsp;at DAL, 2020 &#169;.     
  </footer>
</div>
</div>